#pic0 {
    animation: pic 24s linear infinite;
}
#pic1 {
    animation: pic1 24s linear infinite;
}
#pic2 {
    animation: pic2 24s linear infinite;
}
#pic3 {
    animation: pic3 24s linear infinite;
}
#pic4 {
    animation: pic4 24s linear infinite;
}
#pic5 {
    animation: pic5 24s linear infinite;
}
#pic6 {
    animation: pic6 24s linear infinite;
}
#pic7 {
    animation: pic7 24s linear 3s infinite;
}


@keyframes pic {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }

    12.5% {
        transform: translate(-110%);
        opacity: 1;
    }

    25% {
        transform: translate(-220%);
        opacity: 0;
    }

    37.5% {
        transform: translate(750%);
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translate(440%);
    }

    60% {
        transform: translate(440%);
    }


    62.5% {
        transform: translate(330%);
    }

    72.5% {
        transform: translate(330%);
    }

    75% {
        transform: translate(220%);
    }

    85% {
        transform: translate(220%)
    }

    87.5% {
        transform: translate(110%);
    }

    97.5% {
        transform: translate(110%);
    }

    100% {
        transform: translate(0);
    }


}

@keyframes pic1 {
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }

    12.5% {
        transform: translate(-110%);
    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
        opacity: 1;
    }

    37.5% {
        transform: translate(-330%);
        z-index: -1;
        opacity: 0;
    }

    50% {
        opacity: 0;
        transform: translate(550%);
    }

    62.5% {
        transform: translate(330%);
        z-index: 1;
        opacity: 1;
    }

    72.5% {
        transform: translate(330%);
    }

    75% {
        transform: translate(220%);
    }

    85%{
        transform: translate(220%);
    }

    87.5% {
        transform: translate(110%);
    }

    97.5% {
        transform: translate(110%);
    }

    100% {
        transform: translate(0);
    }

}

@keyframes pic2 {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }

    12.5% {
        transform: translate(-110%);
    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
    }

    35% {
        transform: translate(-220%);
    }

    37.5% {
        transform: translate(-330%);
        opacity: 1;
    }

    50% {
        transform: translate(-330%);
        opacity: 0;
    }


    62.5% {
        transform: translate(660%);
        opacity: 0;

    }

    75% {
        transform: translate(660%);
        opacity: 1;
    }

    85% {
        transform: translate(220%);
    }

    87.5% {
        transform: translate(110%);
    }

    97.5% {
        transform: translate(110%);
    }

    100% {
        transform: translate(0);
    }

}

@keyframes pic3 {
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }


    12.5% {
        transform: translate(-110%);

    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
    }

    35% {
        transform: translate(-220%);
    }

    37.5% {
        transform: translate(-330%);
    }

    47.5% {
        transform: translate(-330%);
    }

    50% {
        opacity: 1;
        transform: translate(-440%);
    }


    62.5% {
        opacity: 0;
        transform: translate(-550%);

    }

    75% {
        transform: translate(550%);
        opacity: 0;
    }

    85% {

    }

    87.5% {
        transform: translate(450%);
        opacity: 1;
    }

    100% {
        transform: translate(0);
    }
}


@keyframes pic4 {
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }

    12.5% {
        transform: translate(-110%);
    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
    }

    35% {
        transform: translate(-220%);
    }

    37.5% {
        transform: translate(-330%);
    }

    47.5% {
        transform: translate(-330%);
    }

    50% {

        transform: translate(-440%);
    }

    60% {
        transform: translate(-440%);
    }

    62.5% {
        opacity: 1;
        transform: translate(-550%);
    }

    68% {
        transform: translate(-550%);
        opacity: 0;
    }

    75% {
        transform: translate(550%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
    }
}


@keyframes pic5{
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }

    12.5% {
        transform: translate(-110%);
    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
    }

    35% {
        transform: translate(-220%);
    }

    37.5% {
        transform: translate(-330%);
    }

    47.5% {
        transform: translate(-330%);
    }

    50% {
        transform: translate(-440%);

    }

    60% {
        transform: translate(-440%);
    }


    62.5% {
        transform: translate(-550%);
    }

    72.5% {
        transform: translate(-550%);
        opacity: 1;
    }


    75% {
        transform: translate(-660%);
        opacity: 1;
    }


    80% {
        transform: translate(-660%);
        opacity: 0;
    }

    87.5% {
        transform: translate(0);
        opacity: 0;
    }

    100% {
        transform: translate(0);
    }

}

@keyframes pic6 {
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }


    12.5% {
        transform: translate(-110%);

    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-220%);
    }

    35% {
        transform: translate(-220%);
    }

    37.5% {
        transform: translate(-330%);
    }

    47.5% {
        transform: translate(-330%);
    }

    50% {
        transform: translate(-440%);
    }

    60% {
        transform: translate(-440%);
    }


    62.5% {
        transform: translate(-550%);

    }

    72.5% {
        transform: translate(-550%);
    }

    75% {
        transform: translate(-660%);
    }

    85% {
        transform: translate(-660%);
    }

    87.5% {
        transform: translate(-770%);
        opacity: 1;
        z-index: 1
    }

    89% {
        transform: translate(-880%);
        z-index: -1;
        opacity: 0;
    }

    97.5% {
        transform: translate(0);
        z-index: -1;
        opacity: 0;
    }


    100% {
        transform: translate(0);
    }
}


@keyframes pic7 {
    0% {
        z-index: 1;
        transform: translate(0);
    }

    10% {
        transform: translate(0);
    }


    12.5% {
        transform: translate(-110%);

    }

    22.5% {
        transform: translate(-110%);
    }

    25% {
        transform: translate(-330%);
    }

    35% {
        transform: translate(-330%);
    }

    37.5% {
        transform: translate(-440%);
    }

    47.5% {
        transform: translate(-440%);
    }

    50% {

        transform: translate(-550%);
    }

    60% {
        transform: translate(-550%);
    }

    62.5% {
        transform: translate(-660%);
    }
    72.5% {
        transform: translate(-660%);
    }

    75% {
        transform: translate(-770%);
    }

    85%{
        transform: translate(-770%);
    }

    87.5% {
        transform: translate(-880%);
    }

    97.5% {
        transform: translate(-880%);
    }

    98.5%{
        transform: translate(-990%);
        opacity: 1;
        z-index: 1;
    }

    99% {
        z-index: -1;
        opacity: 0;
    }

    100% {
        transform: translate(0);
    }
}

