.App {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-row-gap: 10rem;
    box-sizing: border-box;
    z-index: -1;
    background-color: #f2f2f2;
}